<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>174718467624-fai7cme7i90pvu9g7octlp91sqsishs6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.174718467624-fai7cme7i90pvu9g7octlp91sqsishs6</string>
	<key>API_KEY</key>
	<string>AIzaSyCFF_rAP9qXFPIkSnJY3auG-xOi30nW98o</string>
	<key>GCM_SENDER_ID</key>
	<string>174718467624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mytodo</string>
	<key>PROJECT_ID</key>
	<string>todo-app-e8987</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-e8987.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:174718467624:ios:a425c47072e9984f6dff1d</string>
</dict>
</plist>