<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>565749284007-h9c0fgji6r6m2fo97c5141kf3s2jcg2q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.565749284007-h9c0fgji6r6m2fo97c5141kf3s2jcg2q</string>
	<key>API_KEY</key>
	<string>AIzaSyCuSJqb0uz3VutwDEnQkVgbHG6GBnman2E</string>
	<key>GCM_SENDER_ID</key>
	<string>565749284007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mlkit</string>
	<key>PROJECT_ID</key>
	<string>mlkit-app-c7f08</string>
	<key>STORAGE_BUCKET</key>
	<string>mlkit-app-c7f08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:565749284007:ios:581e6a98e687c77e2aef82</string>
</dict>
</plist>